[submodule "moztrap-integration/cucumber-js"]
	path = moztrap-integration/cucumber-js
	url = https://github.com/shinglyu/cucumber-js.git
[submodule "moztrap-integration/moztrapcli"]
	path = moztrap-integration/moztrapcli
	url = https://github.com/shinglyu/moztrap-cli
[submodule "moztrap_integration/moztrapcli"]
	path = moztrap_integration/moztrapcli
	url = https://github.com/shinglyu/moztrap-cli
[submodule "moztrap_integration/cucumber-js"]
	path = moztrap_integration/cucumber-js
	url = https://github.com/shinglyu/cucumber-js
